In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
artworks = pd.read_csv('Artworks.csv')

In [4]:
artworks.columns

Index(['Title', 'Artist', 'ConstituentID', 'ArtistBio', 'Nationality',
       'BeginDate', 'EndDate', 'Gender', 'Date', 'Medium', 'Dimensions',
       'CreditLine', 'AccessionNumber', 'Classification', 'Department',
       'DateAcquired', 'Cataloged', 'ObjectID', 'URL', 'ThumbnailURL',
       'Circumference (cm)', 'Depth (cm)', 'Diameter (cm)', 'Height (cm)',
       'Length (cm)', 'Weight (kg)', 'Width (cm)', 'Seat Height (cm)',
       'Duration (sec.)'],
      dtype='object')

In [5]:
# Select Columns.
artworks = artworks[['Artist', 'Nationality', 'Gender', 'Date', 'Department',
                    'DateAcquired', 'URL', 'ThumbnailURL', 'Height (cm)', 'Width (cm)']]

# Convert URL's to booleans.
artworks['URL'] = artworks['URL'].notnull()
artworks['ThumbnailURL'] = artworks['ThumbnailURL'].notnull()

# Drop films and some other tricky rows.
artworks = artworks[artworks['Department']!='Film']
artworks = artworks[artworks['Department']!='Media and Performance Art']
artworks = artworks[artworks['Department']!='Fluxus Collection']

# Drop missing data.
artworks = artworks.dropna()

In [6]:
artworks.head()

,Artist,Nationality,Gender,Date,Department,DateAcquired,URL,ThumbnailURL,Height (cm),Width (cm)
0,Otto Wagner,(Austrian),(Male),1896,Architecture & Design,1996-04-09,True,True,48.6000,168.9000
1,Christian de Portzamparc,(French),(Male),1987,Architecture & Design,1995-01-17,True,True,40.6401,29.8451
2,Emil Hoppe,(Austrian),(Male),1903,Architecture & Design,1997-01-15,True,True,34.3000,31.8000
3,Bernard Tschumi,(),(Male),1980,Architecture & Design,1995-01-17,True,True,50.8000,50.8000
4,Emil Hoppe,(Austrian),(Male),1903,Architecture & Design,1997-01-15,True,True,38.4000,19.1000

In [7]:
# Get data types.
artworks.dtypes

Artist           object
Nationality      object
Gender           object
Date             object
Department       object
DateAcquired     object
URL                bool
ThumbnailURL       bool
Height (cm)     float64
Width (cm)      float64
dtype: object

In [8]:
artworks['DateAcquired'] = pd.to_datetime(artworks.DateAcquired)
artworks['YearAcquired'] = artworks.DateAcquired.dt.year
artworks['YearAcquired'].dtype

dtype('int64')

In [9]:
# Remove multiple nationalities, genders, and artists.
artworks.loc[artworks['Gender'].str.contains('\) \('), 'Gender'] = '\(multiple_persons\)'
artworks.loc[artworks['Nationality'].str.contains('\) \('), 'Nationality'] = '\(multiple_nationalities\)'
artworks.loc[artworks['Artist'].str.contains(','), 'Artist'] = 'Multiple_Artists'

# Convert dates to start date, cutting down number of distinct examples.
artworks['Date'] = pd.Series(artworks.Date.str.extract(
    '([0-9]{4})', expand=False))[:-1]

# Final column drops and NA drop.
X = artworks.drop(['Department', 'DateAcquired', 'Artist', 'Nationality', 'Date'], 1)

# Create dummies separately.
artists = pd.get_dummies(artworks.Artist)
nationalities = pd.get_dummies(artworks.Nationality)
dates = pd.get_dummies(artworks.Date)

# Concat with other variables, but artists slows this wayyyyy down so we'll keep it out for now
X = pd.get_dummies(X, sparse=True)
X = pd.concat([X, nationalities, dates], axis=1)

Y = artworks.Department

In [10]:
for column in artworks:
    print(artworks[column].value_counts())

Multiple_Artists            5617
Louise Bourgeois            3230
Unknown photographer        2127
Lee Friedlander             1313
Pablo Picasso               1297
Marc Chagall                1151
Henri Matisse               1041
Jean Dubuffet               1022
Ludwig Mies van der Rohe     936
Pierre Bonnard               890
Émile Bernard                631
Georges Rouault              599
Aristide Maillol             576
André Derain                 567
Raoul Dufy                   534
Sol LeWitt                   527
Maurice Denis                500
Dorothea Lange               483
Joan Miró                    432
Jan Dibbets                  425
Pierre Alechinsky            417
Jasper Johns                 400
Jim Dine                     380
Unknown Artist               376
George Maciunas              366
Walker Evans                 358
Jules Pascin                 343
Garry Winogrand              342
Unknown Designer             340
Eugène Atget                 324
                            ...
Charlotte Schmidt              1
Frank Dobson                   1
José Manuel Schmill            1
Jedd Garet                     1
Nélida Demichelis              1
Linda Chapman                  1
Robert Brunner                 1
Raquel Rabinovich              1
Richard Zoellner               1
Erik Ortvad                    1
Paul Virilio                   1
Margaret Harris                1
Giorgio Bompadre               1
Henry Altchek                  1
Ragnar Kjartansson             1
Julius Koller                  1
W. D. Slater                   1
Brian Davis                    1
Caroline Feyt                  1
Toni Schneiders                1
Robert Chambers                1
Blake Rayne                    1
Claudio Salocchi               1
Rebecca Warren                 1
Jack Hauser                    1
Auguste Belloc                 1
Alessandro Becchi              1
Masunobu Yoshimura             1
Halina Chrostowska             1
Pedrero                        1
Name: Artist, Length: 9119, dtype: int64
(American)                    45566
(French)                      16242
(German)                       6868
\(multiple_nationalities\)     5369
(British)                      4903
()                             3416
(Spanish)                      2794
(Italian)                      2379
(Japanese)                     1929
(Russian)                      1834
(Swiss)                        1632
(Dutch)                        1420
(Belgian)                      1203
(Mexican)                      1078
(Czech)                         695
(Austrian)                      684
(Colombian)                     672
(Brazilian)                     672
(Canadian)                      491
(Argentine)                     468
(Polish)                        435
(Venezuelan)                    397
(Chilean)                       385
(Nationality Unknown)           372
(South African)                 339
(Danish)                        325
(Israeli)                       311
(Nationality unknown)           307
(Australian)                    209
(Swedish)                       195
                              ...
(Georgian)                        5
(Macedonian)                      4
(Panamanian)                      4
(Bolivian)                        4
(Czechoslovakian)                 3
(Coptic)                          3
(Moroccan)                        3
(Congolese)                       3
(Taiwanese)                       3
(Lithuanian)                      2
(Ethiopian)                       2
(Nicaraguan)                      2
(Palestinian)                     2
(Ghanaian)                        2
(Namibian)                        2
(Bahamian)                        2
(nationality unknown)             2
(Serbian)                         1
(Ivorian)                         1
(Ugandan)                         1
(Paraguayan)                      1
(Algerian)                        1
(Estonian)                        1
(Persian)                         1
(Tanzanian)                       1
(Kuwaiti)                         1
(Senegalese)                      1
(Azerbaijani)                     1
(Guyanese)                        1
(Singaporean)                     1
Name: Nationality, Length: 108, dtype: int64
(Male)                  81754
(Female)                14042
\(multiple_persons\)     5369
()                       4854
(male)                     12
Name: Gender, dtype: int64
1967    2197
1969    2094
1968    2034
1965    2019
1966    1993
1971    1888
1970    1746
1964    1649
1930    1613
1962    1564
1963    1532
1973    1517
2003    1355
1972    1343
1948    1257
1928    1248
1931    1225
1938    1206
2001    1146
1926    1144
1980    1115
1947    1099
1920    1095
1927    1078
1961    1070
2002    1069
1950    1062
1976    1050
1975    1040
1974    1020
        ...
1840      22
1879      20
1886      20
1816      18
1825      18
1878      15
1851      14
1844      12
1882       9
1841       9
1845       9
1837       9
1839       2
1768       2
1832       2
2018       2
1846       2
1847       2
1809       1
1800       1
1848       1
1501       1
1828       1
1805       1
1842       1
1838       1
1786       1
1811       1
1799       1
1808       1
Name: Date, Length: 198, dtype: int64
Prints & Illustrated Books    55217
Photography                   24147
Architecture & Design         12109
Drawings                      10984
Painting & Sculpture           3574
Name: Department, dtype: int64
1964-10-06    11153
2008-10-08     2943
2005-05-10     2600
2001-01-24     1873
1974-01-10     1614
1940-04-05     1283
1949-09-29     1071
1969-12-04      914
2013-10-24      876
2000-10-12      875
1965-11-09      824
2015-10-19      807
1974-11-06      789
2012-10-03      778
1999-12-10      720
2015-10-27      696
1967-12-13      689
2017-10-26      666
2008-06-18      646
2007-11-12      615
1967-10-18      566
1959-04-22      553
2010-10-07      520
2006-06-01      518
2014-10-06      516
2012-02-07      486
2001-06-14      480
2013-10-10      465
1941-01-16      458
1995-06-15      455
              ...
1973-06-15        1
1939-03-01        1
2001-12-17        1
1973-12-21        1
1953-12-09        1
1967-12-15        1
1978-12-04        1
1966-12-28        1
1978-10-28        1
2011-05-19        1
1942-11-10        1
1937-01-15        1
1994-08-04        1
1975-05-06        1
1936-12-27        1
1972-12-27        1
1964-12-17        1
2007-11-05        1
1963-12-11        1
1946-04-07        1
1994-10-21        1
1971-12-21        1
1965-12-30        1
1974-11-04        1
1959-01-01        1
1939-02-10        1
1942-06-07        1
1950-02-25        1
1975-11-10        1
1970-01-01        1
Name: DateAcquired, Length: 1328, dtype: int64
True     64214
False    41817
Name: URL, dtype: int64
True     56465
False    49566
Name: ThumbnailURL, dtype: int64
0.000000      1046
21.000000      624
28.000000      557
5.080010       547
20.000000      547
15.000000      535
19.000000      535
17.780036      526
24.000000      523
30.500000      521
35.000000      499
19.100000      492
15.200000      490
27.940056      486
47.000000      473
20.300000      473
19.200000      465
17.800000      464
27.000000      429
33.000000      412
30.000000      411
21.600000      399
29.600000      393
23.000000      391
21.748793      386
29.500000      382
27.900000      377
27.400000      376
29.800000      371
18.000000      367
              ...
109.900000       1
137.319025       1
249.200000       1
287.900000       1
242.253000       1
130.700000       1
156.845314       1
292.200000       1
107.632700       1
253.400000       1
431.800864       1
88.423900        1
29.972060        1
213.800000       1
217.487935       1
41.751300        1
327.000000       1
231.775464       1
49.784100        1
305.100000       1
150.177800       1
319.400000       1
114.935200       1
113.400000       1
203.600000       1
89.217678        1
220.500000       1
186.531600       1
426.720853       1
1.428753         1
Name: Height (cm), Length: 3684, dtype: int64
21.000000      960
0.000000       895
25.400051      679
25.000000      637
20.000000      637
24.000000      614
24.100000      539
5.080010       528
24.500000      521
14.000000      503
24.200000      486
19.000000      482
31.500000      482
15.000000      476
20.955042      463
25.400000      444
21.100000      441
23.800000      435
20.300000      422
17.800000      408
23.500000      397
22.500000      395
17.500000      391
28.500000      390
21.500000      387
28.416307      385
23.000000      379
34.000000      376
27.900000      370
23.200000      364
              ...
247.600000       1
127.200000       1
11.176022        1
731.521500       1
262.890526       1
27.686100        1
84.772700        1
24.288799        1
2032.004100      1
166.000000       1
309.900000       1
411.480800       1
211.400000       1
186.944374       1
6.826300         1
93.662700        1
447.675895       1
201.295400       1
57.626400        1
129.600000       1
225.100000       1
277.000000       1
86.836400        1
187.300000       1
244.200000       1
245.800000       1
4663.449300      1
598.806200       1
101.124000       1
393.100000       1
Name: Width (cm), Length: 3729, dtype: int64
1964    12408
2008     4431
2005     3827
2001     3680
1974     3263
2015     2685
2012     2642
2013     2301
2014     2277
1967     2189
1968     2060
1969     2052
1965     1833
2010     1736
2000     1700
2007     1641
2011     1601
1999     1594
2006     1588
1949     1478
2016     1424
2009     1377
2017     1369
1966     1363
1940     1324
1981     1277
1978     1260
1990     1165
1987     1161
1977     1135
        ...
1980      587
2002      587
1951      565
1962      538
1952      482
1961      480
2003      480
1958      433
1935      403
1950      403
1960      398
1955      396
1953      386
1939      374
1947      369
1943      345
1948      313
1937      310
1944      309
1945      255
1957      230
1934      216
1946      148
1936      138
1938      111
1933       92
1932       18
1929        9
1930        6
1931        3
Name: YearAcquired, Length: 90, dtype: int64

In [11]:
for column in X:
    print(X[column].value_counts())

True     64214
False    41817
Name: URL, dtype: int64
True     56465
False    49566
Name: ThumbnailURL, dtype: int64
0.000000      1046
21.000000      624
28.000000      557
5.080010       547
20.000000      547
15.000000      535
19.000000      535
17.780036      526
24.000000      523
30.500000      521
35.000000      499
19.100000      492
15.200000      490
27.940056      486
47.000000      473
20.300000      473
19.200000      465
17.800000      464
27.000000      429
33.000000      412
30.000000      411
21.600000      399
29.600000      393
23.000000      391
21.748793      386
29.500000      382
27.900000      377
27.400000      376
29.800000      371
18.000000      367
              ...
109.900000       1
137.319025       1
249.200000       1
287.900000       1
242.253000       1
130.700000       1
156.845314       1
292.200000       1
107.632700       1
253.400000       1
431.800864       1
88.423900        1
29.972060        1
213.800000       1
217.487935       1
41.751300        1
327.000000       1
231.775464       1
49.784100        1
305.100000       1
150.177800       1
319.400000       1
114.935200       1
113.400000       1
203.600000       1
89.217678        1
220.500000       1
186.531600       1
426.720853       1
1.428753         1
Name: Height (cm), Length: 3684, dtype: int64
21.000000      960
0.000000       895
25.400051      679
25.000000      637
20.000000      637
24.000000      614
24.100000      539
5.080010       528
24.500000      521
14.000000      503
24.200000      486
19.000000      482
31.500000      482
15.000000      476
20.955042      463
25.400000      444
21.100000      441
23.800000      435
20.300000      422
17.800000      408
23.500000      397
22.500000      395
17.500000      391
28.500000      390
21.500000      387
28.416307      385
23.000000      379
34.000000      376
27.900000      370
23.200000      364
              ...
247.600000       1
127.200000       1
11.176022        1
731.521500       1
262.890526       1
27.686100        1
84.772700        1
24.288799        1
2032.004100      1
166.000000       1
309.900000       1
411.480800       1
211.400000       1
186.944374       1
6.826300         1
93.662700        1
447.675895       1
201.295400       1
57.626400        1
129.600000       1
225.100000       1
277.000000       1
86.836400        1
187.300000       1
244.200000       1
245.800000       1
4663.449300      1
598.806200       1
101.124000       1
393.100000       1
Name: Width (cm), Length: 3729, dtype: int64
1964    12408
2008     4431
2005     3827
2001     3680
1974     3263
2015     2685
2012     2642
2013     2301
2014     2277
1967     2189
1968     2060
1969     2052
1965     1833
2010     1736
2000     1700
2007     1641
2011     1601
1999     1594
2006     1588
1949     1478
2016     1424
2009     1377
2017     1369
1966     1363
1940     1324
1981     1277
1978     1260
1990     1165
1987     1161
1977     1135
        ...
1980      587
2002      587
1951      565
1962      538
1952      482
1961      480
2003      480
1958      433
1935      403
1950      403
1960      398
1955      396
1953      386
1939      374
1947      369
1943      345
1948      313
1937      310
1944      309
1945      255
1957      230
1934      216
1946      148
1936      138
1938      111
1933       92
1932       18
1929        9
1930        6
1931        3
Name: YearAcquired, Length: 90, dtype: int64
0    101177
1      4854
Name: Gender_(), dtype: int64
0    91989
1    14042
Name: Gender_(Female), dtype: int64
1    81754
0    24277
Name: Gender_(Male), dtype: int64
0    106019
1        12
Name: Gender_(male), dtype: int64
0    100662
1      5369
Name: Gender_\(multiple_persons\), dtype: int64
0    102615
1      3416
Name: (), dtype: int64
0    106013
1        18
Name: (Albanian), dtype: int64
0    106030
1         1
Name: (Algerian), dtype: int64
0    60465
1    45566
Name: (American), dtype: int64
0    105563
1       468
Name: (Argentine), dtype: int64
0    105822
1       209
Name: (Australian), dtype: int64
0    105347
1       684
Name: (Austrian), dtype: int64
0    106030
1         1
Name: (Azerbaijani), dtype: int64
0    106029
1         2
Name: (Bahamian), dtype: int64
0    104828
1      1203
Name: (Belgian), dtype: int64
0    106027
1         4
Name: (Bolivian), dtype: int64
0    106016
1        15
Name: (Bosnian), dtype: int64
0    105359
1       672
Name: (Brazilian), dtype: int64
0    101128
1      4903
Name: (British), dtype: int64
0    106022
1         9
Name: (Bulgarian), dtype: int64
0    106023
1         8
Name: (Cambodian), dtype: int64
0    106018
1        13
Name: (Cameroonian), dtype: int64
0    106026
1         5
Name: (Canadian Inuit), dtype: int64
0    105540
1       491
Name: (Canadian), dtype: int64
0    105646
1       385
Name: (Chilean), dtype: int64
0    105879
1       152
Name: (Chinese), dtype: int64
0    105359
1       672
Name: (Colombian), dtype: int64
0    106028
1         3
Name: (Congolese), dtype: int64
0    106028
1         3
Name: (Coptic), dtype: int64
0    105967
1        64
Name: (Costa Rican), dtype: int64
0    105914
1       117
Name: (Croatian), dtype: int64
0    105858
1       173
Name: (Cuban), dtype: int64
0    105336
1       695
Name: (Czech), dtype: int64
0    106028
1         3
Name: (Czechoslovakian), dtype: int64
0    105706
1       325
Name: (Danish), dtype: int64
0    104611
1      1420
Name: (Dutch), dtype: int64
0    106025
1         6
Name: (Ecuadorian), dtype: int64
0    105991
1        40
Name: (Egyptian), dtype: int64
0    106030
1         1
Name: (Estonian), dtype: int64
0    106029
1         2
Name: (Ethiopian), dtype: int64
0    105947
1        84
Name: (Finnish), dtype: int64
0    89789
1    16242
Name: (French), dtype: int64
0    106026
1         5
Name: (Georgian), dtype: int64
0    99163
1     6868
Name: (German), dtype: int64
0    106029
1         2
Name: (Ghanaian), dtype: int64
0    105985
1        46
Name: (Greek), dtype: int64
0    105963
1        68
Name: (Guatemalan), dtype: int64
0    106030
1         1
Name: (Guyanese), dtype: int64
0    106013
1        18
Name: (Haitian), dtype: int64
0    105904
1       127
Name: (Hungarian), dtype: int64
0    106018
1        13
Name: (Icelandic), dtype: int64
0    105874
1       157
Name: (Indian), dtype: int64
0    106025
1         6
Name: (Iranian), dtype: int64
0    106012
1        19
Name: (Irish), dtype: int64
0    105720
1       311
Name: (Israeli), dtype: int64
0    103652
1      2379
Name: (Italian), dtype: int64
0    106030
1         1
Name: (Ivorian), dtype: int64
0    104102
1      1929
Name: (Japanese), dtype: int64
0    106020
1        11
Name: (Kenyan), dtype: int64
0    105957
1        74
Name: (Korean), dtype: int64
0    106030
1         1
Name: (Kuwaiti), dtype: int64
0    105977
1        54
Name: (Latvian), dtype: int64
0    105989
1        42
Name: (Lebanese), dtype: int64
0    106029
1         2
Name: (Lithuanian), dtype: int64
0    105989
1        42
Name: (Luxembourgish), dtype: int64
0    106027
1         4
Name: (Macedonian), dtype: int64
0    106026
1         5
Name: (Malaysian), dtype: int64
0    106022
1         9
Name: (Malian), dtype: int64
0    104953
1      1078
Name: (Mexican), dtype: int64
0    106028
1         3
Name: (Moroccan), dtype: int64
0    106029
1         2
Name: (Namibian), dtype: int64
0    105659
1       372
Name: (Nationality Unknown), dtype: int64
0    105724
1       307
Name: (Nationality unknown), dtype: int64
0    106024
1         7
Name: (New Zealander), dtype: int64
0    106029
1         2
Name: (Nicaraguan), dtype: int64
0    106021
1        10
Name: (Nigerian), dtype: int64
0    105857
1       174
Name: (Norwegian), dtype: int64
0    105982
1        49
Name: (Pakistani), dtype: int64
0    106029
1         2
Name: (Palestinian), dtype: int64
0    106027
1         4
Name: (Panamanian), dtype: int64
0    106030
1         1
Name: (Paraguayan), dtype: int64
0    106030
1         1
Name: (Persian), dtype: int64
0    105933
1        98
Name: (Peruvian), dtype: int64
0    105596
1       435
Name: (Polish), dtype: int64
0    105889
1       142
Name: (Portuguese), dtype: int64
0    106019
1        12
Name: (Puerto Rican), dtype: int64

0    105985
1        46
Name: (Romanian), dtype: int64
0    104197
1      1834
Name: (Russian), dtype: int64
0    105980
1        51
Name: (Scottish), dtype: int64
0    106030
1         1
Name: (Senegalese), dtype: int64
0    106030
1         1
Name: (Serbian), dtype: int64
0    106030
1         1
Name: (Singaporean), dtype: int64
0    106026
1         5
Name: (Slovak), dtype: int64
0    106005
1        26
Name: (Slovenian), dtype: int64
0    105692
1       339
Name: (South African), dtype: int64
0    103237
1      2794
Name: (Spanish), dtype: int64
0    106015
1        16
Name: (Sudanese), dtype: int64
0    105836
1       195
Name: (Swedish), dtype: int64
0    104399
1      1632
Name: (Swiss), dtype: int64
0    106028
1         3
Name: (Taiwanese), dtype: int64
0    106030
1         1
Name: (Tanzanian), dtype: int64
0    106008
1        23
Name: (Thai), dtype: int64
0    106018
1        13
Name: (Tunisian), dtype: int64
0    105987
1        44
Name: (Turkish), dtype: int64
0    106030
1         1
Name: (Ugandan), dtype: int64
0    105981
1        50
Name: (Ukrainian), dtype: int64
0    105992
1        39
Name: (Uruguayan), dtype: int64
0    105951
1        80
Name: (Various), dtype: int64
0    105634
1       397
Name: (Venezuelan), dtype: int64
0    105943
1        88
Name: (Yugoslav), dtype: int64
0    106019
1        12
Name: (Zimbabwean), dtype: int64
0    106029
1         2
Name: (nationality unknown), dtype: int64
0    100662
1      5369
Name: \(multiple_nationalities\), dtype: int64
0    106030
1         1
Name: 1501, dtype: int64
0    106029
1         2
Name: 1768, dtype: int64
0    106030
1         1
Name: 1786, dtype: int64
0    105951
1        80
Name: 1797, dtype: int64
0    106030
1         1
Name: 1799, dtype: int64
0    106030
1         1
Name: 1800, dtype: int64
0    106030
1         1
Name: 1805, dtype: int64
0    106030
1         1
Name: 1808, dtype: int64
0    106030
1         1
Name: 1809, dtype: int64
0    105951
1        80
Name: 1810, dtype: int64
0    106030
1         1
Name: 1811, dtype: int64
0    106013
1        18
Name: 1816, dtype: int64
0    105707
1       324
Name: 1818, dtype: int64
0    106013
1        18
Name: 1825, dtype: int64
0    106030
1         1
Name: 1828, dtype: int64
0    106029
1         2
Name: 1832, dtype: int64
0    106022
1         9
Name: 1837, dtype: int64
0    106030
1         1
Name: 1838, dtype: int64
0    106029
1         2
Name: 1839, dtype: int64
0    106009
1        22
Name: 1840, dtype: int64
0    106022
1         9
Name: 1841, dtype: int64
0    106030
1         1
Name: 1842, dtype: int64
0    105890
1       141
Name: 1843, dtype: int64
0    106019
1        12
Name: 1844, dtype: int64
0    106022
1         9
Name: 1845, dtype: int64
0    106029
1         2
Name: 1846, dtype: int64
0    106029
1         2
Name: 1847, dtype: int64
0    106030
1         1
Name: 1848, dtype: int64
0    105995
1        36
Name: 1849, dtype: int64
0    105979
1        52
Name: 1850, dtype: int64
0    106017
1        14
Name: 1851, dtype: int64
0    105997
1        34
Name: 1852, dtype: int64
0    105977
1        54
Name: 1853, dtype: int64
0    105883
1       148
Name: 1854, dtype: int64
0    105950
1        81
Name: 1855, dtype: int64
0    105960
1        71
Name: 1856, dtype: int64
0    105879
1       152
Name: 1857, dtype: int64
0    105974
1        57
Name: 1858, dtype: int64
0    105907
1       124
Name: 1859, dtype: int64
0    105738
1       293
Name: 1860, dtype: int64
0    105993
1        38
Name: 1861, dtype: int64
0    105992
1        39
Name: 1862, dtype: int64
0    105993
1        38
Name: 1863, dtype: int64
0    105935
1        96
Name: 1864, dtype: int64
0    105936
1        95
Name: 1865, dtype: int64
0    106002
1        29
Name: 1866, dtype: int64
0    105984
1        47
Name: 1867, dtype: int64
0    106003
1        28
Name: 1868, dtype: int64
0    105875
1       156
Name: 1869, dtype: int64
0    105920
1       111
Name: 1870, dtype: int64
0    105959
1        72
Name: 1871, dtype: int64
0    105993
1        38
Name: 1872, dtype: int64
0    105895
1       136
Name: 1873, dtype: int64
0    105906
1       125
Name: 1874, dtype: int64
0    105871
1       160
Name: 1875, dtype: int64
0    105976
1        55
Name: 1876, dtype: int64
0    105962
1        69
Name: 1877, dtype: int64
0    106016
1        15
Name: 1878, dtype: int64
0    106011
1        20
Name: 1879, dtype: int64
0    105992
1        39
Name: 1880, dtype: int64
0    105996
1        35
Name: 1881, dtype: int64
0    106022
1         9
Name: 1882, dtype: int64
0    106008
1        23
Name: 1883, dtype: int64
0    105949
1        82
Name: 1884, dtype: int64
0    105969
1        62
Name: 1885, dtype: int64
0    106011
1        20
Name: 1886, dtype: int64
0    106004
1        27
Name: 1887, dtype: int64
0    105941
1        90
Name: 1888, dtype: int64
0    105922
1       109
Name: 1889, dtype: int64
0    105946
1        85
Name: 1890, dtype: int64
0    105953
1        78
Name: 1891, dtype: int64
0    105992
1        39
Name: 1892, dtype: int64
0    105366
1       665
Name: 1893, dtype: int64
0    105863
1       168
Name: 1894, dtype: int64
0    105859
1       172
Name: 1895, dtype: int64
0    105867
1       164
Name: 1896, dtype: int64
0    105898
1       133
Name: 1897, dtype: int64
0    105871
1       160
Name: 1898, dtype: int64
0    105731
1       300
Name: 1899, dtype: int64
0    105501
1       530
Name: 1900, dtype: int64
0    105886
1       145
Name: 1901, dtype: int64
0    105737
1       294
Name: 1902, dtype: int64
0    105908
1       123
Name: 1903, dtype: int64
0    105909
1       122
Name: 1904, dtype: int64
0    105863
1       168
Name: 1905, dtype: int64
0    105793
1       238
Name: 1906, dtype: int64
0    105841
1       190
Name: 1907, dtype: int64
0    105542
1       489
Name: 1908, dtype: int64
0    105861
1       170
Name: 1909, dtype: int64
0    105576
1       455
Name: 1910, dtype: int64
0    105748
1       283
Name: 1911, dtype: int64
0    105483
1       548
Name: 1912, dtype: int64
0    105323
1       708
Name: 1913, dtype: int64
0    105319
1       712
Name: 1914, dtype: int64
0    105413
1       618
Name: 1915, dtype: int64
0    105292
1       739
Name: 1916, dtype: int64
0    105594
1       437
Name: 1917, dtype: int64
0    105551
1       480
Name: 1918, dtype: int64
0    105399
1       632
Name: 1919, dtype: int64
0    104936
1      1095
Name: 1920, dtype: int64
0    105364
1       667
Name: 1921, dtype: int64
0    105268
1       763
Name: 1922, dtype: int64
0    105103
1       928
Name: 1923, dtype: int64
0    105312
1       719
Name: 1924, dtype: int64
0    105033
1       998
Name: 1925, dtype: int64
0    104887
1      1144
Name: 1926, dtype: int64
0    104953
1      1078
Name: 1927, dtype: int64
0    104783
1      1248
Name: 1928, dtype: int64
0    105110
1       921
Name: 1929, dtype: int64
0    104418
1      1613
Name: 1930, dtype: int64
0    104806
1      1225
Name: 1931, dtype: int64
0    105285
1       746
Name: 1932, dtype: int64
0    105208
1       823
Name: 1933, dtype: int64
0    105227
1       804
Name: 1934, dtype: int64
0    105359
1       672
Name: 1935, dtype: int64
0    105279
1       752
Name: 1936, dtype: int64
0    105335
1       696
Name: 1937, dtype: int64
0    104825
1      1206
Name: 1938, dtype: int64
0    105417
1       614
Name: 1939, dtype: int64
0    105224
1       807
Name: 1940, dtype: int64
0    105089
1       942
Name: 1941, dtype: int64
0    105372
1       659
Name: 1942, dtype: int64
0    105288
1       743
Name: 1943, dtype: int64
0    105275
1       756
Name: 1944, dtype: int64
0    105191
1       840
Name: 1945, dtype: int64
0    105064
1       967
Name: 1946, dtype: int64
0    104932
1      1099
Name: 1947, dtype: int64
0    104774
1      1257
Name: 1948, dtype: int64
0    105112
1       919
Name: 1949, dtype: int64
0    104969
1      1062
Name: 1950, dtype: int64
0    105320
1       711
Name: 1951, dtype: int64
0    105397
1       634
Name: 1952, dtype: int64
0    105310
1       721
Name: 1953, dtype: int64
0    105498
1       533
Name: 1954, dtype: int64
0    105423
1       608
Name: 1955, dtype: int64
0    105490
1       541
Name: 1956, dtype: int64
0    105233
1       798
Name: 1957, dtype: int64
0    105199
1       832
Name: 1958, dtype: int64
0    105161
1       870
Name: 1959, dtype: int64
0    105020
1      1011
Name: 1960, dtype: int64
0    104961
1      1070
Name: 1961, dtype: int64
0    104467
1      1564
Name: 1962, dtype: int64
0    104499
1      1532
Name: 1963, dtype: int64
0    104382
1      1649
Name: 1964, dtype: int64
0    104012
1      2019
Name: 1965, dtype: int64
0    104038
1      1993
Name: 1966, dtype: int64
0    103834
1      2197
Name: 1967, dtype: int64
0    103997
1      2034
Name: 1968, dtype: int64
0    103937
1      2094
Name: 1969, dtype: int64
0    104285
1      1746
Name: 1970, dtype: int64
0    104143
1      1888
Name: 1971, dtype: int64
0    104688
1      1343
Name: 1972, dtype: int64
0    104514
1      1517
Name: 1973, dtype: int64
0    105011
1      1020
Name: 1974, dtype: int64
0    104991
1      1040
Name: 1975, dtype: int64
0    104981
1      1050
Name: 1976, dtype: int64
0    105108
1       923
Name: 1977, dtype: int64
0    105114
1       917
Name: 1978, dtype: int64
0    105115
1       916
Name: 1979, dtype: int64
0    104916
1      1115
Name: 1980, dtype: int64
0    105219
1       812
Name: 1981, dtype: int64
0    105228
1       803
Name: 1982, dtype: int64
0    105158
1       873
Name: 1983, dtype: int64
0    105137
1       894
Name: 1984, dtype: int64
0    105331
1       700
Name: 1985, dtype: int64
0    105334
1       697
Name: 1986, dtype: int64
0    105285
1       746
Name: 1987, dtype: int64
0    105110
1       921
Name: 1988, dtype: int64
0    105130
1       901
Name: 1989, dtype: int64
0    105177
1       854
Name: 1990, dtype: int64
0    105087
1       944
Name: 1991, dtype: int64
0    105280
1       751
Name: 1992, dtype: int64
0    105493
1       538
Name: 1993, dtype: int64
0    105194
1       837
Name: 1994, dtype: int64
0    105254
1       777
Name: 1995, dtype: int64
0    105433
1       598
Name: 1996, dtype: int64
0    105352
1       679
Name: 1997, dtype: int64
0    105083
1       948
Name: 1998, dtype: int64
0    105183
1       848
Name: 1999, dtype: int64
0    105165
1       866
Name: 2000, dtype: int64
0    104885
1      1146
Name: 2001, dtype: int64
0    104962
1      1069
Name: 2002, dtype: int64
0    104676
1      1355
Name: 2003, dtype: int64
0    105079
1       952
Name: 2004, dtype: int64
0    105271
1       760
Name: 2005, dtype: int64
0    105504
1       527
Name: 2006, dtype: int64
0    105479
1       552
Name: 2007, dtype: int64
0    105328
1       703
Name: 2008, dtype: int64
0    105518
1       513
Name: 2009, dtype: int64
0    105696
1       335
Name: 2010, dtype: int64
0    105624
1       407
Name: 2011, dtype: int64

0    105661
1       370
Name: 2012, dtype: int64
0    105673
1       358
Name: 2013, dtype: int64
0    105839
1       192
Name: 2014, dtype: int64
0    105762
1       269
Name: 2015, dtype: int64
0    105807
1       224
Name: 2016, dtype: int64
0    105922
1       109
Name: 2017, dtype: int64
0    106029
1         2
Name: 2018, dtype: int64

# MLPC Configurations (adam):

### MLP 1000

In [12]:
artworks_reduced = artworks.sample(frac=.20, random_state=28)

In [13]:
artworks_reduced.head()

,Artist,Nationality,Gender,Date,Department,DateAcquired,URL,ThumbnailURL,Height (cm),Width (cm),YearAcquired
72008,José Clemente Orozco,(Mexican),(Male),1929,Prints & Illustrated Books,1940-04-05,True,True,28.300000,45.700000,1940
74662,Georges Vantongerloo,(Belgian),(Male),1921,Painting & Sculpture,1985-10-25,True,True,33.000000,37.500000,1985
53550,Jules Aarons,(American),(Male),1952,Photography,1965-11-09,True,True,39.200000,50.600000,1965
117713,Unknown photographer,(),(),1924,Photography,2010-10-07,False,False,14.605029,20.320041,2010
97219,George Maciunas,(American),(Male),1965,Prints & Illustrated Books,2008-10-08,False,False,0.000000,0.000000,2008

In [14]:
X_reduced = artworks_reduced.drop(['Department', 'DateAcquired', 'Artist', 'Nationality', 'Date'], 1)

# Create dummies separately.
artists_reduced = pd.get_dummies(artworks_reduced.Artist)
nationalities_reduced = pd.get_dummies(artworks_reduced.Nationality)
dates_reduced = pd.get_dummies(artworks_reduced.Date)

# Concat with other variables, but artists slows this wayyyyy down so we'll keep it out for now
X_reduced = pd.get_dummies(X_reduced, sparse=True)
X_reduced = pd.concat([X_reduced, nationalities_reduced, dates_reduced], axis=1)

Y_reduced = artworks_reduced.Department

In [15]:
X_reduced

,URL,ThumbnailURL,Height (cm),Width (cm),YearAcquired,Gender_(),Gender_(Female),Gender_(Male),Gender_(male),Gender_\(multiple_persons\),...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
72008,True,True,28.300000,45.700000,1940,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
74662,True,True,33.000000,37.500000,1985,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
53550,True,True,39.200000,50.600000,1965,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
117713,False,False,14.605029,20.320041,2010,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97219,False,False,0.000000,0.000000,2008,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
25405,True,True,4.200000,6.300000,1964,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
114388,False,False,23.500000,16.500000,2012,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
85383,True,True,55.880100,76.200200,2005,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
58373,True,True,80.800000,60.000000,1994,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59584,True,True,21.500000,28.000000,1987,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
116645,True,True,27.940056,27.940056,2013,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13342,False,False,13.200000,7.400000,1948,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
96081,True,True,17.900000,26.800000,2008,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
25548,False,False,11.100000,16.700000,1964,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
61170,True,True,27.700000,23.600000,1982,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
59310,True,True,29.500000,80.200000,1985,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
114453,True,True,37.465075,27.305055,2013,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10949,False,False,14.600000,7.800000,1992,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15173,True,True,14.400000,11.100000,1964,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
97247,False,False,0.000000,0.000000,2008,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
27742,False,False,23.800000,16.300000,1964,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
41190,True,True,17.100000,21.500000,1968,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4731,False,False,75.247650,50.165100,1943,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6512,True,True,14.900000,21.000000,1999,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31453,False,False,39.500000,98.400000,1967,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8587,False,False,5.200000,3.800000,1991,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
37486,True,True,21.907500,17.780000,1968,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
30499,False,False,17.400000,12.400000,1964,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9131,False,False,56.800000,46.800000,1993,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20268,False,False,19.600000,13.800000,2001,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115381,True,True,44.300000,28.100000,2013,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
57483,True,True,30.800000,50.100000,1957,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
97185,True,True,10.000000,12.000000,2008,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
131319,False,False,25.300000,20.500000,1996,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
55723,True,True,29.100000,21.000000,1967,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
95908,True,True,18.100000,25.800000,2007,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
60833,True,True,60.200000,49.400000,1967,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
17167,False,False,6.100000,5.300000,1949,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
112089,True,True,13.400000,8.500000,2012,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49781,True,True,21.400000,19.900000,1997,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
18897,False,False,18.600000,20.300000,1964,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
72930,True,True,30.500000,42.100000,1967,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10313,False,False,35.000000,30.600000,1952,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24483,False,False,28.800000,23.100000,1965,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
18794,False,False,43.000000,31.500000,1978,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
121455,False,False,21.748793,28.416307,2014,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
8885,False,False,20.200000,15.100000,1975,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
94338,True,True,25.300000,20.200000,2008,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
55297,False,False,19.400000,24.400000,1968,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
84362,True,True,48.260100,38.100100,2005,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
54892,True,True,24.100000,29.400000,1974,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
61157,True,True,64.900000,53.500000,1962,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
73154,True,True,145.800000,113.300000,1959,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26894,False,False,31.100000,19.500000,1964,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
121607,False,False,21.748793,28.416307,2014,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11474,True,True,22.600000,18.200000,2001,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
122470,True,True,45.600000,32.400000,2015,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
84062,True,True,24.765000,20.955000,2005,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
108729,True,True,6.900000,11.400000,2012,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107131,False,False,17.200000,17.000000,2008,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
# Alright! We've done our prep, let's build the model.
# Neural networks are hugely computationally intensive.
# This may take several minutes to run.

# Import the model.
from sklearn.neural_network import MLPClassifier

# Establish and fit the model, with a single, 1000 perceptron layer.
mlp = MLPClassifier(hidden_layer_sizes=(1000,))
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(1000,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [15]:
mlp.score(X_reduced, Y_reduced)

0.33580118834292183

In [16]:
Y_reduced.value_counts()/len(Y_reduced)

Prints & Illustrated Books    0.519664
Photography                   0.229558
Architecture & Design         0.114024
Drawings                      0.101999
Painting & Sculpture          0.034754
Name: Department, dtype: float64

In [17]:
from sklearn.model_selection import cross_val_score
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.58284233 0.467358   0.59288072 0.58999764 0.42793112]


0.5322019606761146

### MLP 316

In [18]:
# 316 features.
mlp = MLPClassifier(hidden_layer_sizes=(316,))
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(316,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [19]:
mlp.score(X_reduced, Y_reduced)

0.5470621522210695

In [20]:
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.59368371 0.56870139 0.4339934  0.5881104  0.51285681]


0.5394691426932043

That's pretty inconsistent. Let's try increasing the layer size instead.

### MLP 3160,

In [21]:
# 316 times 10.
"""mlp = MLPClassifier(hidden_layer_sizes=(3160,))
mlp.fit(X_reduced, Y_reduced)"""

'mlp = MLPClassifier(hidden_layer_sizes=(3160,))\nmlp.fit(X_reduced, Y_reduced)'

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(3160,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [22]:
"""mlp.score(X_reduced, Y_reduced)"""

'mlp.score(X_reduced, Y_reduced)'

0.5486183155710648

In [23]:
"""cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())"""

"cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)\nprint(cvscore)\nprint('\n')\nprint(cvscore.mean())"

[0.43082724 0.6245581  0.25719    0.49351262 0.58952583]

0.47912275954817707

This is extremely computationally expensive, and for no gain. Let's go for depth instead of width.

### MLP 316, 5

In [24]:
mlp = MLPClassifier(hidden_layer_sizes=(316, 5))
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(316, 5), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [25]:
mlp.score(X_reduced, Y_reduced)

0.5196642459681222

In [26]:
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.51944379 0.51944379 0.51956624 0.51993395 0.51993395]


0.5196643430504748

### MLP 316, 316, 5

In [27]:
mlp = MLPClassifier(hidden_layer_sizes=(316, 316, 5))
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(316, 316, 5), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [28]:
mlp.score(X_reduced, Y_reduced)

0.5196642459681222

In [29]:
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.51944379 0.51944379 0.51956624 0.51993395 0.50530786]


0.5167391248386324

### MLP 1000, 5

In [30]:
mlp = MLPClassifier(hidden_layer_sizes=(1000, 5))
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(1000, 5), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [31]:
mlp.score(X_reduced, Y_reduced)

0.5196642459681222

In [32]:
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.51944379 0.51944379 0.51956624 0.51993395 0.51993395]


0.5196643430504748

### MLP 500, 500

In [69]:
mlp = MLPClassifier(hidden_layer_sizes=(500, 500))
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(500, 500), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [70]:
mlp.score(X_reduced, Y_reduced)

0.282750165047628

In [71]:
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.61583785 0.55196795 0.55634135 0.55956594 0.61429582]


0.5796017812108328

# Solver:

### LBFGS 1000,

In [36]:
mlp = MLPClassifier(hidden_layer_sizes=(1000,), solver='lbfgs')
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(1000,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='lbfgs', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [37]:
mlp.score(X_reduced, Y_reduced)

0.5196642459681222

In [38]:
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.51944379 0.51944379 0.51956624 0.51332862 0.51993395]


0.5183432767612557

### LBFGS 1000, 5

In [33]:
mlp = MLPClassifier(hidden_layer_sizes=(1000, 5), solver='lbfgs')
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(1000, 5), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='lbfgs', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [34]:
mlp.score(X_reduced, Y_reduced)

0.5196642459681222

In [35]:
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.51944379 0.51944379 0.51980198 0.51993395 0.51993395]


0.5197114906223748

### LBFGS 316, 5

In [60]:
mlp = MLPClassifier(hidden_layer_sizes=(316, 5), solver='lbfgs')
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(316, 5), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='lbfgs', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [61]:
mlp.score(X_reduced, Y_reduced)

0.5196642459681222

In [62]:
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.51944379 0.51944379 0.51956624 0.51993395 0.51993395]


0.5196643430504748

# Activation Function:

### Activation Function: Logistic, 1000,

In [42]:
mlp = MLPClassifier(hidden_layer_sizes=(1000,), activation='logistic')
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(1000,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [43]:
mlp.score(X_reduced, Y_reduced)

0.6282184287465812

In [44]:
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.6497761  0.64741928 0.65417256 0.65746638 0.66076905]


0.6539206747250367

### Activation Function: Logistic, 1000, 5

In [45]:
mlp = MLPClassifier(hidden_layer_sizes=(1000, 5), activation='logistic')
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(1000, 5), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [46]:
mlp.score(X_reduced, Y_reduced)

0.5397529001226068

In [47]:
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.54089088 0.63398539 0.64804338 0.55508375 0.63741448]


0.6030835746546607

### Activation Function: Logistic, 316, 316, 5

In [48]:
mlp = MLPClassifier(hidden_layer_sizes=(316, 316, 5), activation='logistic')
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(316, 316, 5), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [49]:
mlp.score(X_reduced, Y_reduced)

0.5299915118362728

In [50]:
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.54183361 0.63445675 0.54879774 0.59046945 0.5477707 ]


0.5726656496978945

### Activation Function: Logistic, 316, 5

In [51]:
mlp = MLPClassifier(hidden_layer_sizes=(316, 5), activation='logistic')
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(316, 5), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [52]:
mlp.score(X_reduced, Y_reduced)

0.5528152409695369

In [53]:
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.64812633 0.53994815 0.63790665 0.55720689 0.65062515]


0.6067626318544066

In [54]:
mlp = MLPClassifier(hidden_layer_sizes=(1500,), activation='logistic')
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(1500,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [55]:
mlp.score(X_reduced, Y_reduced)

0.6541544845798359

In [56]:
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.63563516 0.65166156 0.64545026 0.61948573 0.65888181]


0.6422229045683416

Hey! Those are some big improvements!

### Logistic, 100, 4

In [57]:
mlp = MLPClassifier(hidden_layer_sizes=(100, 4), activation='logistic')
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100, 4), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [58]:
mlp.score(X_reduced, Y_reduced)

0.6055833254739225

In [59]:
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.6271506  0.63704926 0.62918435 0.63906582 0.65038924]


0.6365678531504891

# Alpha:

### 1000, Alpha = 0.001

In [89]:
mlp = MLPClassifier(hidden_layer_sizes=(1000,), alpha=0.001)
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='relu', alpha=0.001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(1000,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [73]:
mlp.score(X_reduced, Y_reduced)

0.6169951900405546

In [80]:
mlp.score(X_reduced, Y_reduced)

0.5547958125058946

In [82]:
mlp.score(X_reduced, Y_reduced)

0.26435914363859286

In [84]:
mlp.score(X_reduced, Y_reduced)

0.19159671791002547

In [86]:
mlp.score(X_reduced, Y_reduced)

0.5971894746769782

In [88]:
mlp.score(X_reduced, Y_reduced)

0.616287843063284

In [90]:
mlp.score(X_reduced, Y_reduced)

0.33674431764594925

What's up with these?
mlp.score(X_reduced, Y_reduced)
0.6169951900405546

mlp.score(X_reduced, Y_reduced)
0.5547958125058946

mlp.score(X_reduced, Y_reduced)
0.26435914363859286

mlp.score(X_reduced, Y_reduced)
0.19159671791002547

mlp.score(X_reduced, Y_reduced)
0.5971894746769782

mlp.score(X_reduced, Y_reduced)
0.616287843063284

mlp.score(X_reduced, Y_reduced)
0.33674431764594925

In [ ]:
mlp.score(X_reduced, Y_reduced)

In [74]:
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.56964412 0.47631393 0.55469118 0.6079264  0.59707478]


0.5611300822956162

### 1000, Alpha = 0.01

In [66]:
mlp = MLPClassifier(hidden_layer_sizes=(1000,), alpha=0.01)
mlp.fit(X_reduced, Y_reduced)

MLPClassifier(activation='relu', alpha=0.01, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(1000,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [67]:
mlp.score(X_reduced, Y_reduced)

0.24639253041592002

In [68]:
cvscore = cross_val_score(mlp, X_reduced, Y_reduced, cv=5)
print(cvscore)
print('\n')
print(cvscore.mean())

[0.44921046 0.48032053 0.2932579  0.48785091 0.61854211]


0.4658363813323641

# Conclusions:

Despite the input size being 316, 1000 estimators does seem to produce higher scores. More layers tends to increase consistency of results.

Logisitic activation function with 1000 perceptrons as a single layer was the most effective model tested so far.